<section  fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <div class="col-xs-12">
      <h1>{{ movie.title }}</h1>
    </div>
    <div class="col-xs-12">
      {{ movie.description }}
    </div>
    <mat-card-content fxLayoutAlign="center" >
      <div >
        <mat-form-field >
          <textarea matInput placeholder="Leave a comment here" [(ngModel)]="movie.comment"></textarea>
        </mat-form-field >
      </div>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button color="primary" >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</section>
