<!--<section class="new-training" fxLayout fxLayoutAlign="center">-->

  <mat-card  *ngFor="let card of  obs | async;let i=index">
    <mat-card-content fxLayoutAlign="center" >
      <mat-card-title fxLayoutAlign="center" >
        <p [hidden]="editFlag[i]">{{card.title}}</p>
        <div [hidden]="!editFlag[i]">
          <mat-form-field >
            <input
              type="text"
              matInput
              placeholder="Movie Title"
              [(ngModel)]="card.title">
          </mat-form-field>
        </div>
      </mat-card-title>
    </mat-card-content>
    <mat-card-content fxLayoutAlign="center" >
      <p [hidden]="editFlag[i]">{{card.description}}</p>
      <div [hidden]="!editFlag[i]">
        <mat-form-field >
          <textarea matInput placeholder="Leave a comment here" [(ngModel)]="card.description"></textarea>
        </mat-form-field >
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button (click)="deleteAction(i)"  color="primary" >
        Delete
      </button>
      <button mat-raised-button (click)="saveAction(i)" color="primary" >
        Save
      </button>
      <button mat-raised-button (click)="editAction(i)" color="primary">
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-paginator [length]="dataSource.data.length" [pageSize]='5' [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>




  <form (ngSubmit)="onAddMovie(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" > <!--fxFlex="400px"-->
      <mat-card-title fxLayoutAlign="center">Add Movie</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field class="example-full-width">
          <mat-label for="title">Title</mat-label>
          <input type="text"
                 id="title"
                 class="form-control"
                 ngModel
                 name="title" matInput/> <!--placeholder="Ex. Pizza"-->
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label for="description">Description</mat-label>
          <input type="text"
                 id="description"
                 class="form-control"
                 ngModel
                 name="description" matInput /> <!--placeholder="Ex. It makes me feel..."-->
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label for="averageratings">Average Ratings</mat-label>
          <input type="number"
                 id="averageratings"
                 class="form-control"
                 ngModel
                 name="averageratings" matInput /> <!--placeholder="Ex. It makes me feel..."-->
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label for="yourrating">Your Rating</mat-label>
          <input type="number"
                 id="yourrating"
                 class="form-control"
                 ngModel
                 name="yourrating" matInput /> <!--placeholder="Ex. It makes me feel..."-->
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label for="comments">Comments</mat-label>
          <input type="text"
                 id="comments"
                 class="form-control"
                 ngModel
                 name="comments" matInput /> <!--placeholder="Ex. It makes me feel..."-->
        </mat-form-field>

        <!--<mat-spinner *ngIf="isLoading"></mat-spinner>-->
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button [disabled]="f.invalid">Add</button>
      </mat-card-actions>
    </mat-card>
  </form>
<!--</section>-->
